/* header */
.mainli li:nth-child(2) {
  border-bottom: solid black 2px;
}
/* container */
.container {
  width: calc(100% - 100px);
  margin: 0 auto;
}
.container h1 {
  margin-top: 30px;
}
.container h2:nth-child(2) {
  text-align: center;
  border-bottom: 2px solid rgb(77, 77, 77);
  padding-bottom: 40px;
  margin-bottom: 30px 0 70px;
}
/* newscontents */
section h2{
  margin-top: 30px;
  padding-left: 13px;
  border-left: 4px solid #000;
}
 .container p {
  padding-bottom: 20px;
  text-align: center;
}
section img{
  display: block;
  width:  600px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
section .dogimg{
  display: block;
  width:  600px;
  height: 600px;
  margin: 0 auto;
  object-fit: cover;
}
section .seasonimg {
  display: block;
  width:  600px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}
section a {
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  background: rgb(3, 60, 3);
}
section a:hover {
  background: rgb(4, 106, 4);
}
footer {
  background-color: #fff;
}
footer p {
  text-align: center;
  margin: 30px 0;
}
/* newsareacommon/ */
.news1,.news2{
  width: calc(100% - 100px);
  margin: 0 auto;
  padding-bottom: 200px;
  height: 100%;
}
.news1 h1,.news2 h1 {
  padding: 40px 0 10px;
  text-align: center;
}
.news1 p {
  padding: 40px 0;
  text-align: center;
}
.news1 img {
  display: block;
  margin: 0 auto;
  height: 70%;
}
.news2 img{
  display: block;
  margin: 30px auto;
  width: 70%;
  height: 70%;
}
.news2 section{
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid rgb(77, 77, 77);
}
@media (max-width: 767px) {
  .container {
    width:calc(100% - 50px);
    margin: 0 auto;
  }
  section img{
    width: 400px;
    height: 300px;
  }
  section .dogimg{
    width: 400px;
    height: 400px;
}
  section .seasonimg{
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 600px) {
 section img{
  width: 300px;
  height: 200px;
 }
 section .dogimg{
  width: 300px;
  height: 300px;
}
section .seasonimg{
  width: 300px;
  height: 200px;
}
}