/* header */
.mainli li:nth-child(6) {
  border-bottom: solid black 2px;
}
/* main */
.container{
  width: calc(100% - 100px);
  margin: 0 auto;
}
main{
  background-color:rgb(231, 231, 231) ;
  padding-bottom: 100px;
}
.heroarea{
  height: 200px;
  width: 100%;
  position: relative;
}
.heroarea img{
  object-fit: cover;
  height: 200px;
  width: 100%;
  animation-name: move;
	animation-duration: 5s;
}
.heroarea p{
  font-family: 'Yuji Syuku', serif;
  font-size: 70px;
  color: rgb(0, 0, 0);
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
}
/* fromarea */
.container h2{
  margin: 40px 0;
}
.expla{
  text-align: center;
}
section{
  padding: 30px 0 100px 0;
  border-bottom: 2px solid rgb(77, 77, 77);
}
section:last-of-type{
border: none;
}
table{
border-collapse: collapse;
width: 100%;
}
td{
border: 1px solid black;
text-align: center;
}
iframe{
margin-top: 70px;
width: 100%;
}
form{
  margin: 40px;
}
form{
  width: calc(100% -200px);
}
form div{
  height: 100px;

  width:calc(100% - 40px);
  margin: 0 auto;
}
form label{
  display: flex;
  justify-content: space-between;
}
form .furigana,.mailbox{
  width:calc(100% - 200px);
  height: 25px;
}
form .messagebox{
  height: 100px;
  width:calc(100% - 200px);
}
.container span{
  color: red;
}
.alerttext,.alertmail,.alertmessage{
  color: red;
}
form a {
  border-radius: 3px;
  position: relative; 
 display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px auto;
  max-width: 220px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  background: rgb(0, 98, 0);
} 
 form a:hover {
  background: rgb(0, 130, 0);
} 

/* footer */
footer{
  background-color: #fff;
}
 footer p{
  text-align: center;
  margin: 30px 0;
}

@media (max-width: 767px) {
.checkform{
  display: block;
  margin: 0px auto;
  margin-top: 50px;
}
.checkform p{
  text-align: center;
}
.checkform input{
  width: 100%;
}
form a
{margin: 150px auto;
}
}


